<a href="https://colab.research.google.com/github/joje3029/AI_Study/blob/main/2023_07_18_%ED%8C%90%EB%8B%A4%EC%8A%A4%EA%B8%B0%EC%B4%88_%EC%A0%95%EB%A0%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df1=pd.read_excel("/content/거래내역조회.xlsx", skiprows=3)
df2=pd.read_excel("/content/students.xlsx")

In [ ]:
# 복습내용 : 원하는 데이터를 가져오는걸 빠르게 할수 있어여햠.
df1.loc[0]
df1.loc[:,"거래일시"]
df1.loc[[0,2,5]]
df1.loc[:,["거래일시", "취급점", "찾으신금액"]]

In [35]:
# 정렬 : 매우 중요!
# 오름차순, 내림차순 DBMS에서 oder by
# 행단위로 조작됨.=> 행단위로 변경됨.

# 1.판다스 데이터 프레임 정렬
# 오름차순
df1.sort_values("찾으신금액")

# 내림차순
df1.sort_values("찾으신금액", ascending=False)
# ascending = asc

df1.sort_values("기재내용")
df1.sort_values("기재내용", ascending=False)

# 적요로 먼저 정렬하고 적요가 같은 애들은 찾으신 금액으로 정렬 : 기준이 두개이기 때문에 []한번 더 씀
df1.sort_values(["적요","찾으신금액"])

# 적요로는 오름차순, 찾으신 금액은 내림차순 => ascending의 True, False를 순서에 맞게 입력.
df1.sort_values(["적요","찾으신금액"], ascending=[True,False])

# 2.시리즈 정렬
df1["찾으신금액"].sort_values(ascending=False)

# 3.인덱스로 정렬
df1.sort_index(ascending=False)

,No.,거래일시,적요,기재내용,찾으신금액,맡기신금액,거래후 잔액,취급점,메모
9,10,2022.03.09 16:52,체크우리,피자집,9800,0,15733,영업추진부(카드),NaN
8,9,2022.03.09 18:05,타행이체,가족,0,200000,215733,KB증권,NaN
7,8,2022.03.09 18:49,체크우리,커피집,2000,0,213733,영업추진부(카드),NaN
6,7,2022.03.10 00:59,펌뱅킹,이커머스,15540,0,198193,유성금융센터,NaN
5,6,2022.03.10 10:40,타행이체,친구,0,100000,398193,KB증권,NaN
4,5,2022.03.10 10:42,체크우리,몸짱피트니스,238000,0,160193,영업추진부(카드),NaN
3,4,2022.03.10 16:05,체크우리,스타벅스,2000,0,158193,영업추진부(카드),NaN
2,3,2022.03.10 18:23,체크우리,김밥이 좋아,4500,0,153693,영업추진부(카드),NaN
1,2,2022.03.11 03:26,통신요금,01011112222SKT,117910,0,35783,유성금융센터,NaN
0,1,2022.03.12 03:37,ＣＭＳ,NaN,9570,0,26213,유성금융센터,NaN

In [33]:
# 위에서 자르기, 아래에서 자르기
# 1.위에서 자르기
df1.head()#기본적으로 5개 자름
df1.head(8)#위에서 8개 자름

df1.tail()#기본적으로 5개 자름
df1.tail(7)#아래에서 7개 자름

   No.              거래일시    적요    기재내용   찾으신금액   맡기신금액  거래후 잔액        취급점  메모
3    4  2022.03.10 16:05  체크우리    스타벅스    2000       0  158193  영업추진부(카드) NaN
4    5  2022.03.10 10:42  체크우리  몸짱피트니스  238000       0  160193  영업추진부(카드) NaN
5    6  2022.03.10 10:40  타행이체      친구       0  100000  398193       KB증권 NaN
6    7  2022.03.10 00:59   펌뱅킹    이커머스   15540       0  198193     유성금융센터 NaN
7    8  2022.03.09 18:49  체크우리     커피집    2000       0  213733  영업추진부(카드) NaN
8    9  2022.03.09 18:05  타행이체      가족       0  200000  215733       KB증권 NaN
9   10  2022.03.09 16:52  체크우리     피자집    9800       0   15733  영업추진부(카드) NaN

In [ ]:
# 컬럼 조작하기(조회, 추가, 수정, 삭제)
# 컬럼정보 얻기
df1.columns #컬럼으로 이용하려면
df1.columns.values #파이썬의 리스트로 이용하려면 -> colums 배열

#칼럼추가
df1['메모2']="" #단일값으로 세팅했기 때문에 모든 메모 2 칸에 동일한 값이 들어감
df1['메모3']=['1','2','3','4','5','6','7','8','9','10'] #단일값 아님 : 근데 이러라고 하면 싫음

#기존 칼럼을 이요해서 새 컬름으로 만듦 : 단일값이 아닌 칼럼 추가시 사용
df1['찾으신금액2']=df1['찾으신금액'] *2 #이런식으로 하면 기존 컬럼과 동일한 크기의 컬럼이 생기고 기존 컬럼 값에 *2 한 금액이 찾으신금액2에 들어감. : 컬럼 안맞춰도 됨.
df1

#칼럼수정
# 1번방법 : 컬럼값을 얻어와서 직접 바꾸기-> 장점 : 사용하기 쉽다. 단점 : 원본이 바뀐다 => 잘못 고치면 원본이 날라감.
df1_temp = df1[['No.','거래일시','적요','기재내용','찾으신금액']]

df1_temp.columns=['a','b','c','d','e'] # 이것도 갯수 맞춰야함
df1_temp.columns.values[0]='NO'
df1_temp

# 2번방법 : 함수를 이용해서 바꾸기
# df1
df1_temp2 = df1[['No.', '거래일시','적요','기재내용','찾으신금액']]
df1_temp2_mod=df1_temp2.rename(columns={"No.":"번호", "거래일시" : "거래날짜"})

#inplace 옵션을 Trud로 주면 원본에 바로 적용
df1_temp2_mod.rename(columns = {"기재내용":"사용내용"}, inplace=True)

# 칼럼 삭제
# 내가 원하는 컬럼만 재선택 : 원본을 건드리지는 않음 -> 사용할때 변수에 담음
temp3=df1[df1.columns.values[:-3]]
temp3

# 삭제 함수 drop을 이용 : 컬럼 인덱스 둘다 삭제 가능 (기본은 row)
df1.drop(['메모2','메모3','찾으신금액'], axis=1) #axis 행 = 0 axis 열 =1

In [ ]:
# index 조작
df1
# index 조회
df1.index
df1.index.values
# index 추가
df1.loc[10]='a' #단일 행 추가

# # 근데 아래와 같이 수정 삭제를 하면 원본을 건드는 방식임. 왜냐하면 inplace = True 했으니까
# # index 수정 : 기존 컬럼으로 인덱스 세팅
# # 아닌 방법도 있음 알아서 공부하기.
# df1.set_index('No.', inplace=True)
# df1
# #인덱스를 원래대로 돌리는것. 단 이전으로만 돌림. 진행을 많이 하고 이거해봤자 무용지물.
# df1.reset_index()
# # index 삭제
# df1.drop(4,inplace=True)
# df1
df1=df1.reset_index()
df1

In [191]:
# 컬럼을 만들고 1~10까지 부여

df1["컬럼"]=[1,2,3,4,5,6,7,8,9,10,11]
# 동일하지만 더 스마트한 방법 : df1["컬럼"]=range[1:11] / df1['No.'] = df1.index.values + 1
df1

     찾으신금액    적요            기재내용   맡기신금액  거래후 잔액        취급점  찾으신금액2  컬럼
0     9570   ＣＭＳ             NaN       0   26213     유성금융센터   19140   1
1   117910  통신요금  01011112222SKT       0   35783     유성금융센터  235820   2
2     4500  체크우리          김밥이 좋아       0  153693  영업추진부(카드)    9000   3
3   238000  체크우리          몸짱피트니스       0  160193  영업추진부(카드)  476000   4
4        0  타행이체              친구  100000  398193       KB증권       0   5
5    15540   펌뱅킹            이커머스       0  198193     유성금융센터   31080   6
6     2000  체크우리             커피집       0  213733  영업추진부(카드)    4000   7
7        0  타행이체              가족  200000  215733       KB증권       0   8
8        a     a               a       a       a          a       a   9
9       10     a               a       a       a          a       a  10
10       a     a               a       a       a          a       a  11

In [41]:
# 문제1. 학생 데이터를 국어 성적으로 내림차순 정렬한 뒤 위에서 11개, 아래에서 7개 삭제
a1 = df2.sort_values("국어", ascending=False)
a2 = a1.head(11)
a2.tail(7)

    번호   이름  국어  영어  수학 지역명       생년월일
72  73  장지희  98  61  77  대구 2050-03-04
80  81  이지동  98  62  97  서울 2050-02-07
43  44  윤민은  98  67  75  부산 2050-01-11
93  94  이현진  97  96  72  대구 2050-08-04
69  70  이명연  96  82  71  서울 2050-05-17
15  16  이명동  96  68  97  서울 2050-03-21
27  28  박준운  96  86  79  서울 2050-10-02

In [67]:
# 문제1. 학생들의 총점, 평균 구하기
df2['총점'] = df2.loc[:,['국어', '영어', '수학']].sum(axis=1)
df2['총점']

df2['평균'] = df2.loc[:,['국어', '영어', '수학']].mean(axis=1)
df2['평균']

0     75.333333
1     89.666667
2     70.666667
3     91.000000
4     75.333333
        ...
95    75.666667
96    79.333333
97    82.000000
98    66.666667
99    82.666667
Name: 평균, Length: 100, dtype: float64

In [61]:
# 문제2. 학생들의 평균이 높은 순으로 정렬. 만약 평균이 같다면 학번으로 오름차순
df2.sort_values(["평균","번호"], ascending=[True,False])

    번호   이름  국어  영어  수학 지역명       생년월일   총점         평균
24  25  장철운  61  62  64  부산 2050-02-05  187  62.333333
45  46  정명동  60  62  73  광주 2050-06-03  195  65.000000
98  99  강준동  62  69  69  광주 2050-11-24  200  66.666667
66  67  정현운  70  71  63  광주 2050-03-27  204  68.000000
32  33  김지동  61  73  72  광주 2050-04-16  206  68.666667
..  ..  ...  ..  ..  ..  ..        ...  ...        ...
56  57  정현연  79  97  98  부산 2050-05-11  274  91.333333
40  41  김명은  87  88  99  대전 2050-05-09  274  91.333333
81  82  정준동  82  95  99  울산 2050-04-07  276  92.000000
67  68  이혜운  83  97  97  울산 2050-10-05  277  92.333333
10  11  이민은  94  91  98  광주 2050-09-07  283  94.333333

[100 rows x 9 columns]

In [71]:
# 문제3. 학생들의 평균으로 석차를 내어 석차 순으로 오름차순.

# df2["석차"]=df2.sort_values("평균")
df2["석차"]=df2['평균'].rank(ascending=False)

df_sorted=df2.sort_values(by='평균', ascending=True)

df_sorted

    번호   이름  국어  영어  수학 지역명       생년월일   총점         평균     석차
24  25  장철운  61  62  64  부산 2050-02-05  187  62.333333  100.0
45  46  정명동  60  62  73  광주 2050-06-03  195  65.000000   99.0
98  99  강준동  62  69  69  광주 2050-11-24  200  66.666667   98.0
66  67  정현운  70  71  63  광주 2050-03-27  204  68.000000   97.0
32  33  김지동  61  73  72  광주 2050-04-16  206  68.666667   96.0
..  ..  ...  ..  ..  ..  ..        ...  ...        ...    ...
56  57  정현연  79  97  98  부산 2050-05-11  274  91.333333    4.5
40  41  김명은  87  88  99  대전 2050-05-09  274  91.333333    4.5
81  82  정준동  82  95  99  울산 2050-04-07  276  92.000000    3.0
67  68  이혜운  83  97  97  울산 2050-10-05  277  92.333333    2.0
10  11  이민은  94  91  98  광주 2050-09-07  283  94.333333    1.0

[100 rows x 10 columns]

In [76]:
# 1. 김씨 성을 가진 학생들의 이름과 평균. 평균으로 내림차순
filtered_df = df2[df2['이름'].str.startswith('김')]
sort_df=filtered_df.sort_values(by='평균', ascending=False)
sort_df

    번호   이름  국어  영어  수학 지역명       생년월일   총점         평균    석차
40  41  김명은  87  88  99  대전 2050-05-09  274  91.333333   4.5
77  78  김명운  91  97  78  광주 2050-09-22  266  88.666667  11.5
79  80  김준수  93  95  66  부산 2050-02-08  254  84.666667  20.0
50  51  김준운  73  89  83  대구 2050-09-07  245  81.666667  35.0
38  39  김준운  79  84  79  대전 2050-10-16  242  80.666667  41.0
60  61  김철연  72  70  97  대전 2050-08-12  239  79.666667  49.5
17  18  김혜진  69  72  97  서울 2050-08-20  238  79.333333  52.5
5    6  김준진  75  72  89  부산 2050-06-13  236  78.666667  55.5
85  86  김준희  64  94  76  대전 2050-06-01  234  78.000000  59.5
82  83  김명수  60  77  92  울산 2050-09-09  229  76.333333  69.0
57  58  김명진  74  78  76  대전 2050-09-27  228  76.000000  72.0
4    5  김혜수  83  76  67  대전 2050-01-25  226  75.333333  77.0
64  65  김혜진  80  62  79  서울 2050-07-05  221  73.666667  81.5
62  63  김지수  66  77  75  대구 2050-03-06  218  72.666667  85.5
32  33  김지동  61  73  72  광주 2050-04-16  206  68.666667  96.0

In [141]:
# 2. 이름에 희자가 들어간 학생들의 번호, 이름, 평균. 번호로 오름차순
name=df2[df2['이름'].str.contains('희')]
name.sort_values(["번호", "이름", "평균", "번호"])

# 3. 생년월일의 구분자를 -에서 .으로 바꾸기

# 4. 생년월일에서 연도를 빼고 월일만
# 5. 학생의 이름에서 성과 이름을 서로 다른 컬럼으로 분리.
# 6. 학생들의 성씨 별로 각각 몇 명인지 확인.
# 7. 학생들의 평균 수학 점수가 가장 높은 도시는?

    번호   이름  국어  영어  수학 지역명       생년월일   총점         평균    석차
3    4  강혜희  99  95  79  서울 2050-05-27  273  91.000000   6.0
8    9  이지희  94  63  78  광주 2050-06-23  235  78.333333  57.5
18  19  이명희  89  78  79  울산 2050-04-18  246  82.000000  32.5
29  30  박혜희  87  63  61  대전 2050-07-02  211  70.333333  93.0
31  32  장철희  67  74  83  광주 2050-05-15  224  74.666667  79.5
35  36  정현희  76  74  95  대전 2050-03-25  245  81.666667  35.0
42  43  정철희  99  78  70  울산 2050-03-13  247  82.333333  30.5
72  73  장지희  98  61  77  대구 2050-03-04  236  78.666667  55.5
85  86  김준희  64  94  76  대전 2050-06-01  234  78.000000  59.5
87  88  정혜희  95  69  76  서울 2050-09-20  240  80.000000  47.0
88  89  박명희  83  94  94  대구 2050-07-02  271  90.333333   8.0